body {
	background: url("../images/concrete_seamless.png");
	font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
	color: grey;
	margin: 10px 10px 10px -5px;
	padding: 5px;
}


h1, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

header {
	background-color: white;
	overflow: hidden;
	width: 100;
	margin-top: -15px;
	margin-bottom: -5px;
	border-bottom: 3px solid #eee;
}

.name {
	float: left;
	color: white;
	background-color: #4aaaa5;
	overflow: hidden;
	margin-left: 45px;
	margin-top: -5px;
	margin-bottom: -4px;
	padding: 15px 8px 15px 8px;
}

#line {
	background-color: #eeeeee;
	height: 2px;
	margin-bottom: 10px;
}

nav {
	float: right;
	color: grey;
	background-color: #fff;
	text-decoration: none;
	margin-right: 5px;
	overflow: hidden;
}

.links li {
	float: right;
	display: inline;
	color: grey;
	background-color: white;
	font-size:14px;
	text-decoration: none;
	padding:20px;
}


.main {
	 background-color: white;
	 color: grey;
	 width: 650px;
	 max-width: 66%;
	 overflow: hidden;
	 float: left;
	 margin: 32px;
	 font-family: 'Arial', 'Helvetica-Neue', sans-serif;
}

.contact {
	margin: 10px;
	padding: 20px;
}

.sidebox {
	display: inline;
	float: right;
	width: 250px;
	height: 150px;
	padding: 10px;
	background-color: white;
	color: #4aaaa5;
	text-align: center;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto:
	margin-top: 40px;
}

.footer {
	overflow: hidden;
	background-color: #666;
	width: 100%;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 12px;
	border-top: 4px solid #4aaaa5;
	position: fixed;
	bottom: 0;
}

.image {
    float: left;
    width: -50px;
    height:-50px;
    margin: 10px;
	

