body {
	background: url("../images/concrete_seamless.png");
	font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
	color: grey;
	margin: 10px 10px 10px -5px;
	padding: 5px;
}


h1, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}