body {
	background: url("../images/concrete_seamless.png");
	font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
	color: grey;
	margin: 10px 10px 10px -5px;
	padding: 5px;
}


h1, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

header {
	background-color: white;
	overflow: hidden;
	width: 100;
	margin-top: -15px;
	margin-bottom: -5px;
	border-bottom: 3px solid #eee;
}

.name {
	float: left;
	color: white;
	background-color: #4aaaa5;
	overflow: hidden;
	margin-left: 45px;
	margin-top: -5px;
	margin-bottom: -4px;
	padding: 15px 8 px 15px 8px;

}	